body {
	background: black;
	margin: 25px;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: white;
	width: auto;
}

.center {
	background: red;
	width: 80%;
	max-width: 500px;
	min-width: 100px;
	height: 300px;
	text-align: center;
	vertical-align: middle;
	line-height: 300px;
	font-size: 4vw;
	margin-bottom: 10px;
}

@media only screen and (min-width: 630px) {
	.center { font-size: 25.2px; }
}

@media only screen and (max-width: 460px) {
	.center { width: 100%; }
}

a {
	text-decoration: none;
	color: inherit;
}

.social {
	width: 100px;
	height: 100px;
	margin-right: 10px;
	margin-top: 10px;
	display: inline-block;
	line-height: 100px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50%;
	transition:
		background-position .3s ease,
		transform .3s ease;

	span {
		opacity: 0;
		transition: opacity .3s ease;
	}
	
	&:hover {
		background-position: center -120%;
		transform: scale(1.1);
		animation: colorRotate 10s linear infinite;
		span { opacity: 1; }
	}
}

.twitter {
	background-color: #55acee;
	background-image: url(img/twitter.png);
	color: white;
}

.github {
	background-color: white;
	background-image: url(img/github.png);
	color: black;
}

.linkedin {
	background-color: #0377b5;
	background-image: url(img/linkedin.png);
	color: white;
}

.redbubble {
	background-color: white;
	background-image: url(img/redbubble.png);
	color: red;
}

.telegram {
	background-color: #37aee2;
	background-image: url(img/telegram.png);
	color: white;
	
}

.email {
	background-color: #fdac2a;
	background-image: url(img/email.png);
	color: white;
}

@keyframes colorRotate {
	from { filter: hue-rotate(0deg); }
	to { filter: hue-rotate(360deg); }
}