body {
	background: white;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: white;
	margin: 25px;
	display: flex;
	flex-direction: vertical;
	flex-wrap: wrap;
	justify-content: center;
}

a {
	text-decoration: none;
	color: inherit;
}

.stripe {
	display: flex;
	flex-direction: horizontal;
	flex-wrap: wrap;
	justify-content: center;
	
//	@media only screen and (max-width: 400px) {
// 		justify-content: center;
// 	}
}

#title {
	background: none;
	color: red;
	text-align: center;
	font-size: 3vw;
	margin: 20px 0;
	padding: 10vw;
}

#social  a > div {
	width: 100px;
	height: 100px;
	margin: 5px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50%;
	display: inline-block;
	line-height: 100px;
	border-radius: 1px;
	
	transition:
		background-position .3s ease,
		transform .3s ease;

	span {
		opacity: 0;
		transition: opacity .3s ease;
	}
	
	&:hover {
		background-position: center -120%;
		transform: scale(1.1);
		//animation: colorRotate 10s linear infinite;
		span { opacity: 1; }
	}
}

.social-icon(@back, @front, @img) {
	background-color: @back;
	background-image: @img;
	color: @front;
	box-shadow: 0px 15px 30px -15px @front;

	transition:
		box-shadow .3s ease;
	
	& when (@front = white) {
		box-shadow: 0px 10px 30px -10px @back;
	}
	
	&:hover {
		box-shadow: 0px 0px 0px 0px;
	}
}

#twitter {
	.social-icon(#55acee, white, url(img/twitter.png));
}

#github {
	.social-icon(white, black, url(img/github.png));
}

#linkedin {
	.social-icon(#0377b5, white, url(img/linkedin.png));
}

#redbubble {
	.social-icon(white, red, url(img/redbubble.png));
}

#telegram {
	.social-icon(#37aee2, white, url(img/telegram.png));
}

#email {
	.social-icon(#fdac2a, white, url(img/email.png));
}
